name: Docker Build and Push

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Kodu bilgisayardan çek
      uses: actions/checkout@v4

    - name: Docker Hub'a Giriş Yap
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Docker İmajını İnşa Et ve Gönder
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        # DİKKAT: Buradaki 'KULLANICI_ADIN' kısmını kendi adınla değiştir!
        tags: chainsahin/devops_project:latest
